
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeView</title>
    <style>
        #button {
            background-color: #f44336;
            border: none;
            color: white;
            padding: 30px 60px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;

        }

        #Home-div {
            position: absolute;
            left: 40%;
            top: 40%;
            
        }

        #Heading {
            position: absolute;
            left: 40%;
            top: 10%;
        }

        body {
            background-image: url('../../Content/Images/adelaide-city.jpg');
        }

    </style>
   
</head>
<body>
        <h1 id="Heading">Employee Attendance Tracker</h1>
    <div id="Home-div">
      
       
            
                    <input id="button" type="button" value="Lecturer" onclick="location.href='@Url.Action("LecturerLoginPage", "Home")'" />
          
      
          
              
                    <input id="button" type="button" value="Student" onclick="location.href='@Url.Action("StudentLoginPage", "Home")'" />
             
            
        
    </div>
</body>
</html>
